.aboutCant{
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* background-image: url(../../assets/banner.jpg); */
}
.mainabout{
  width: 157vh;
  height: 50vh;
  background-color: rgb(99, 62, 8);
}
.atspace {
  height: 40px;
}

.atitle {
  font-size: 50px;
  font-family: 'Oswald', sans-serif;
  text-shadow: 2px 2px tomato;
  justify-content: left;
  /* background-color: aliceblue; */
}

.aheader {
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 15px;
  /* background-color: aliceblue; */

}

.apar {
  font-size: 20px;
  color: wheat;
  font-family: 'Roboto Mono', monospace;
  /* background-color: aliceblue; */
}



.aname {
  color: red;
  font-style: italic;
  font-family: 'Roboto Mono', monospace;
}

